<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
<h1>Users</h1>
<table>
  <tr>
    <th>ID</th>
    <th>ФИО</th>
    <th>Руководитель</th>
  </tr>
            {% for user_id, user in users_n_supers.items%}
            <tr>
                <td><a href="https://mybitrixbtw.bitrix24.ru/company/personal/user/{{user_id}}/" target="_blank">{{ user_id }}</a></td>
                {% for field, value in user.items %}

                        <td>{{value}}</td>
                {% endfor %}
            {% endfor %}
</table>
</body>
</html>