<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Uploader</title>
</head>
<body>
    <h1>Загрузите свой звонок</h1>
    <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form">
        <label>{{field.label}}</label>
        {{field}}
        </div>
    {% endfor %}
<input type="submit" value="Загрузить звонок">
</form>
</body>
</html>